<!doctype html>
<html ng-app="ngView">
  <head>
    <meta charset='utf-8'>
    <title>Pi-SzOAR</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
    <script type="text/javascript" src="fes/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/root.css" />
    <script type="text/javascript">
      angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
    </script>
  </head>
  <body ng-controller="MainCntl as main">

    <!--Menü-->
    <div class="w3-bar w3-dark-grey">
    <a href="/" class="w3-bar-item w3-button">Kezdőlap</a>
    <div class="w3-dropdown-hover w3-hide-small" ng-if="jog % 8 >= 4">
      <button class="w3-button">
        Adminisztráció <i class="fa fa-caret-down"></i>
      </button>
      <div class="w3-dropdown-content w3-bar-block w3-white w3-card-4">
        <a href="/admin/targyak" class="w3-bar-item w3-button w3-text-black">Tárgyak</a>
        <a href="/admin/oktatok" class="w3-bar-item w3-button w3-text-black">Oktatók</a>
        <a href="/admin/hallgatok" class="w3-bar-item w3-button w3-text-black">Diákok</a>
        <a href="/admin/idopontok" class="w3-bar-item w3-button w3-text-black">Időpontok</a>
      </div>
    </div>
    <a href="admin/firstconfig" class="w3-bar-item w3-button w3-right" ng-if="nau && (jog==0)">Kezdő lépések - beállítás</i></a>
    <a href="login" class="w3-bar-item w3-button w3-right" ng-if="jog==0 && !nau">Bejelentkezés</i></a>
    <c ng-click="logout()" class="w3-bar-item w3-button w3-right" ng-if="jog>0">Kijelentkezés</i></c>
    </div>


    <div class="w3-container w3-dark-gray">
      <br>
      <div class="w3-container w3-pale-yellow w3-round-large">
        <div ng-view><!--Content container--></div>
      </div>
      <center><i ng-bind="msg"></i> (<i ng-bind="jogsz"></i>)
    </div>


  </body>
</html>
