<center><h2>{{a.name}} - Időpontok kezelése</h2>
<div class="w3-container w3-round-large w3-blue-gray">
  <br>
  <form name='uip'>
  <div class="w3-container w3-cell-row">
    <br>
    <div class="w3-container w3-cell" style='width: 140px;'>
      <input class="w3-input" placeholder="Új időpont" ng-model="a.uip.idate" type="date" required />
    </div>
    <div class="w3-container w3-cell" style='width: 140px;'>
      <input class="w3-input n" placeholder="Napi óraszám" ng-model="a.uip.osz" type="number" min=0 max=10 required />
    </div>
    <div class="w3-container w3-cell">
      <span ng-repeat="ho in a.szurlist" ng-if="a.vanszurlist">
        <div class="w3-button w3-blue w3-round" ng-click="a.szurd = ho">{{ho.slice(3)}}</div>
      </span>
    </div>
    <div class="w3-container w3-cell" style='width: 140px;'>
      <button class="w3-button w3-red w3-round" ng-click="a.uipf(a.uip)" ng-if="uip.$valid">Felvesz</button>
    </div>
  </div>
  </form>
  <br>
</div>
<hr>
<div class="w3-container w3-round-large  w3-blue-gray">
  <br>
  <div class="w3-container w3-cell-row">
    <br>
    <div class="w3-container w3-cell l" style='width: 110px;'>
      <b>Időpont</b>
    </div>
    <div class="w3-container w3-cell l" style='width: 113px;'>
    </div>
    <div class="w3-container w3-cell l" style='width: 80px;'>
      <b>Óraszám</b>
    </div>
    <div class="w3-container w3-cell l" style='width: 215px;'>
      <b>Oktató</b>
    </div>
    <div class="w3-container w3-cell l">
      <b>Tárgy</b>
    </div>
    <div class="w3-container w3-cell l" style='width: 80px;'>
      <b>Óraszám</b>
    </div>
    <div class="w3-container w3-cell c" style='width: 30px;'>
      töröl
    </div>
  </div>
  <div class="w3-container w3-cell-row" ng-repeat="(key,ip) in a.ipl" ng-if="a.szf(ip.idate)">
    <br>
    <div class="w3-container w3-cell l" style='width: 220px;'>
      <div ng-if="a.ipl[key].idate != a.ipl[key-1].idate">{{ip.idate | date: 'yyyy. MM. dd.'}} {{ip.nap}}</div>
    </div>
    <div class="w3-container w3-cell c" style='width: 110px;'>
      <input ng-if="a.ipl[key].idate != a.ipl[key+1].idate" style='height:25px; width: 75px;' class="w3-input  w3-round w3-khaki n" ng-change="a.lag2(ip._id,ip.osz)" ng-model="ip.osz" type="number" min=0 max=10 />
    </div>
    <div class="w3-container w3-cell l" style='width: 210px;'>
      <select class="w3-select" style='width: 180px;' ng-model="ip.oktid" ng-change="a.setokt(ip._id,ip.oktid)">
        <option ng-value="okt._id" ng-repeat="okt in a.oktatok" ng-selected="okt._id==ip.oktid">{{okt.nev}}</option>
      </select>
    </div>
    <div class="w3-container w3-cell l">
      <select class="w3-select" ng-model="ip.targyid" ng-change="a.settargy(ip._id,ip.targyid)">
        <option ng-value="targy._id" ng-repeat="targy in a.targyak" ng-selected="targy._id==ip.targyid">{{targy.tnev}}</option>
      </select>
    </div>
    <div class="w3-container w3-cell c" style='width: 80px;'>
      <input class="w3-input w3-sand w3-round n" style='height:25px; width: 75px;' ng-change="a.lag3(ip._id,ip.oszrow)" ng-model="ip.oszrow" type="number" min=0 max=10 />
    </div>
    <div class="w3-container w3-cell c" style='width: 66px;'>
      <big class="click" title="ürít" ng-click="a.deltargyokt(key,ip._id)" ng-if="(a.ipl[key].oktid || a.ipl[key].targyid)">&#8999;</big>
      <big class="click" title="nap törlése" ng-click="a.ipt(key,ip._id)" ng-if="!(a.ipl[key].oktid || a.ipl[key].targyid)">&#10007;</big>
    </div>
  </div>
  <br>
</div>
<br>
